/* Fondo general solo para el login */
.login-root {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Contenedor del formulario */
.login-container {
  background-color: rgba(44, 53, 80, 0.9);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  display: block;
  color: #fff;
}

.login-logo {
  margin-bottom: 10px;
}

.login-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.login-subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #fff;
}

.login-form-group {
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
}

.login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #fff;
}

.login-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: border 0.3s;
  background: #222a3a;
  color: #fff;
}

.login-input:focus {
  border-color: #3498db;
  outline: none;
}

.login-forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 20px;
}

.login-forgot-password a {
  color: #3498db;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-forgot-password a:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #3498db;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 40%;
  transition: background-color 0.3s;
  color: #fff;
}

.login-btn:hover {
  background-color: #2980b9;
}

.login-checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
}

.login-checkbox-container input {
  margin-right: 8px;
}

.login-error-message {
  color: #e74c3c;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

@media (max-width: 480px) {
  .login-container {
    padding: 15px;
    margin: 0 10px;
  }
}

.login-h3 {
  font-size: 1rem;
  margin-bottom: 1px;
  color: #fff;
}